{% extends 'base.html' %}

{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&display=swap" rel="stylesheet">
<!-- {% load material_form %} -->




<!-- <div class="#424242 #FBDFB2 z-depth-4" style="height:70px;">
  
  <span class="center-align" style="margin-top: 30px;">
<style type="text/css">
  h2
  {
    display:inline;
    margin-left: 430px;
    font-weight: bold;
    color: #BDB2FF;
    font-family: 'Yellowtail', cursive;
  }
</style>
    <h2 class="#BDB2FF center-align">Be Chem-Sure!</h2></span>
</div>


<style type="text/css">
  
.sele
{
  height: 100%;
  width: 100%;
  filter: blur(3px);
  -webkit-filter: blur(2px);
}

</style>

<div>
  
  <img class='sele' src="/static/977893.jpg">

</div> -->


<style>
body {
  background-image: url('/static/977893.jpg');
  backdrop-filter: blur(3px);
}
</style>

<div class="#424242 #FBDFB2 white z-depth-4" style="height:70px;">
  
  <span class="center-align" style="margin-top: 30px;">
<style type="text/css">
  h2
  {
    display:inline;
    margin-left: 430px;
    font-weight: bold;
    color: #BDB2FF;
    font-family: 'Yellowtail', cursive;
  }
</style>
    <h2 class="#BDB2FF center-align">Be Chem-Sure!</h2></span>
</div>


<!-- <div class="row" style="margin-left: 70px;">
    <div class="col s12 m6  sele" style="margin-top: 100px;">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Description</span>
          <p>This Website will provide the information about all the checmicals present in the product you are using</p>
          <p>We give a complete checmical Analysis and categorise the checmicals in Safe, Moderate and Toxic</p>
        </div>
      </div>
    </div>
  </div>



  <div class="row" style="margin-right: 70px;">
    <div class="col s12 m6  sele" style="margin-top: 100px;">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Description</span>


        </div>
      </div>
    </div>
  </div> -->













<style type="text/css">

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /*border: 2px solid yellow;*/
}  

.flex-child:first-child {
    margin-right: 20px;

.float-child.green {
    margin-right: 20px;
}
} 
</style>

<!-- this is first container -->
<div class="flex-container">

<!-- this is first -->
  <div class="flex-child">
    
<div class="row" style="margin-left: 50px;">
    <div class="col s12 m6" style="width: 550px; margin-top: 100px;">
      <div class="card blue-grey darken-1 hoverable" style="color:  #69f0ae green accent-2;">
        <div class="card-content white-text">
          <span class="card-title bold center-align" style="font-weight: bold; font-family: 'Big Shoulders Stencil Display', cursive;"><h4 style="margin-top: 5px;">DESCRIPTION</h4></span>

          <ul style="font-family: 'Big Shoulders Stencil Display', cursive; font-size: 18px;">
            <li>--Our Daily use products contains some very harmful chemicals</li>
            <li>--Sole Products that we consider 'Safe' may contain 'CARCINOGENIC' Chemicals</li>
            <li>--Specifically in India, the use of Chemicals is not that regulated that in European</li>
            <li>&ensp; Union and in USA</li>
            <li>--This Website will provide the information about all the checmicals present in the</li>
            <li>&ensp; product you are using</li>
            <li>--We give a complete Checmical Analysis and categorise the checmicals in Safe,</li>
            <li>&ensp; Moderate and Toxic</li>
            </ul>

          <p></p>
          <p></p>
        </div>
      </div>
    </div>
  </div>



  </div>
  
  <div class="flex-child">
   


<!-- this is second container -->
<div class="float-container">

<!-- this is second -->
  <div class="float-child">
    

<div class="row" style="margin-left: 50px;">
    <div class="col s12 m6" style="width: 550px; margin-top: 40px;">
      <div class="card blue-grey darken-1 hoverable">
        <div class="card-content white-text">
          <span class="card-title center-align" style="font-weight: bold; font-family: 'Big Shoulders Stencil Display', cursive;"><h4 style="margin-top: 5px;">INSTRUCTIONS</h4></span>
          

          <ul style="font-family: 'Big Shoulders Stencil Display', cursive; font-size: 18px;">
            <li>--Image should only contains the Ingredients Box</li>
            <li>--Image should be very clear</li>
            <li>--No visible pixels should present in image, as it will affect the character prediction</li>
          </ul>

        </div>
      </div>
    </div>
  </div>



  </div>
  
  <form method = "post" enctype="multipart/form-data">

  <!-- this is third -->
  <div class="float-child">
    




<div class="row" style="margin-left: 110px;">
    <div class="col s12 m6" style="width: 450px;">
      <div class="card blue-grey darken-1 hoverable">
        <div class="card-content white-text">
          
        
    {% csrf_token %}
    {{ form.as_p }}
  


        </div>
      </div>
    </div>
  </div>


  </div>

    <!-- <button type="submit">Upload</button> -->

    <button class="btn waves-effect waves-light" type="submit" name="action" style="margin-left: 290px;">Submit 
    <i class="material-icons right">send</i>
  </button>

  </form>
  
</div>






  </div>
  
</div>


















{% endblock %}







<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


 <div class="container">
  <h2>Carousel Example</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="/static/3dx-backhoe-loader.jpg" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>LA is always so much fun!</p>
        </div>
      </div>

      <div class="item">
        <img src="/static/2.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
    
      <div class="item">
        <img src="/static/1.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>





